/* Front Page */

.intro {
	position: relative;
	height: 40%;
	width: 100%;	
	.intro-content {
		position: absolute;
		bottom: 20px;
		width: 100%;
		h1 {
			font-weight: 300;
			font-size: 4.4rem;
			text-align: left;
			margin-bottom: $sml;
			color: $brand-primary;
			line-height: 5.4rem;
		}
		h4 {
			font-family: $primary-font;
			font-size: 2rem;
			line-height: 3.6rem;
			font-weight: 300;
		}
		p {
			font-size: 2.1rem;
			font-weight: 300;
		}
	}
	
}
.center {
	text-align: center;
	h2 {
		color: #000;
		font-size: 3rem;
		font-weight: 300;
		line-height: 4rem;
	}
	p:nth-child(2) {
		font-size: 2.1rem;
		margin-bottom: $med;
		color: #999;
	}
	p {
		margin-bottom: 20px;
	}
	.btn-primary {
		background-color: $brand-primary;
		padding: 10px;
		color: #fff;
		border: 0;
		margin-top: $lrg !important;
		font-size: 1.8rem;
	}
}

.blocks {
	font-size: 2rem;
	height: 60%;
}
.full-block {
	float: left;
	width: 50%;
	height: 100%;
	background-color: #eee;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	.content {

		bottom: 0;
		left: 0;
	}
}
.bg {

	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	.content {
		width: 100%;
		opacity: 0;
		text-align: center;
	}
	&:hover {
		transform-fill-mode: forwards;
		transform: scale(1.10);
		transition: all ease-in-out 2s;
		.content {
			opacity: 1;
			transition: $ease;
		}
	}
}
.overlay {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	z-index: 10;
	&:hover {
		opacity: .4;
		transition: $ease;
	}
}
.half-block {
	float: left;
	width: 25%;
	height: 50%;
	background-color: #ccc;
	overflow: hidden;
	&:nth-child(3n){
		background-color: #d7d7d7;
	}
	&:nth-child(4n){
		background-color: #e7e7e7;
	}
	&:hover {
		background-color: #aaa;
		transition: all ease-in-out 0.4s;
	}
}
.primary {
	position: relative;
	background-color: lighten($brand-primary, 10%);
	color: #fff;
	.text {
		position: relative;
		text-align: center;
		@include center;
		text-transform: lowercase;
		font-family: $secondary-font;
	}
	.fa {
		margin-left: 20px;
	}
	&:hover {
		background-color: lighten($brand-primary, 5%);
	}
}
.strap {
	display: block;
	width: 100%;
	padding: 40px;
	text-align: center;
	p {
		font-size: 2.4rem;
	}
	.btn {
		@include border-radius(0); 
		text-decoration: none;
		padding: 10px;
		font-size: 1.8rem;
		margin: $smlspace 0;
		background: none;
		border: 3px solid $main-text;
		color: $main-text;
		&:hover {
			background-color: $main-text;
			color: #fff;
			transition: $ease;
		}
	}
}